body{
    font-family: 'Otomanopee One', sans-serif;
    color: rgb(54, 35, 16);
    margin: 0%;
}
.head-color{
    color: rgb(187, 124, 7);
}
.container{
    display: flex;
}
.width-half{
    width: 50%;
    padding: 20px 40px;
}
.width-half img{
    width: 80%;

}
.button-bkgnd{
    background-image: linear-gradient(rgb(228, 200, 149), orange);
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(6, 85, 33);
}
.sec-port{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
    
}
.areas{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 40px;
    box-shadow: 10px 10px 40px seagreen;
    border-radius: 10px;
}
.areas img{
    width: 100%;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
.bonus-sec{
    width:90%;
    margin: 5%;
    box-shadow: 10px 10px 40px rgb(103, 105, 104);
    border-radius: 10px;
}
.bonus{
    width: 30%;
    margin: 5%;
    padding: 10px 20px;
    text-align: center;
}
.last{
    height: 200px;
    background-color: black;
    padding: 20px 40px;
    color: cornsilk;
    text-align: center;
}
#passage{
    text-align: justify;
    padding: 0% 20%;
}