body{
    font-family: 'Otomanopee One', sans-serif;
    color: rgb(54, 35, 16);
    margin: 0%;
}
.head-color{
    color: rgb(187, 124, 7);
}
.container{
       display: flex;
}
.width-half{
    width: 50%;
    padding: 20px 40px;
}
.width-half img{
    width: 80%;
}
.bkgnd{
    background-image: linear-gradient(rgb(228, 200, 149), orange);
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px;
}
